@model SistemPerwalian2020.Models.MahasiswaViewModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content" style="padding-bottom: 50px;">
    <br>
    <h2 style="text-align: center;">Ubah Data Mahasiswa</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-9">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="mhs.Nim" class="control-label">NIM</label>
                        <input asp-for="mhs.Nim" class="form-control" />
                        <span asp-validation-for="mhs.Nim" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <input type="hidden" asp-for="OldNim" class="form-control" />
                    </div>
                </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="mhs.Nama_mhs" class="control-label">Nama Mahasiswa</label>
                    <input asp-for="mhs.Nama_mhs" class="form-control" />
                    <span asp-validation-for="mhs.Nama_mhs" class="text-danger"></span>

                </div>
            </div>
            
        </div>
        <div class="row">
        <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="mhs.No_hp_mhs" class="control-label">No. Handphone Mahasiswa</label>
                        <input asp-for="mhs.No_hp_mhs" class="form-control" />
                        <span asp-validation-for="mhs.No_hp_mhs" class="text-danger"></span>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="mhs.No_hp_ortu" class="control-label">No. Handphone Orangtua</label>
                        <input asp-for="mhs.No_hp_ortu" class="form-control" />
                        <span asp-validation-for="mhs.No_hp_ortu" class="text-danger"></span>
                    </div>
                </div>
                </div>
                <div class="form-group center" style="align-self: center;">
                    <input type="submit" value="Simpan" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    </div>
