- index.cshtml di home/index :

@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Http

<section class="blog_area" style="padding-top: 40px;margin-bottom: 100px;">
    <div class="container" style="display: flex;">
        <div class="col-lg-6">
            <!-- <div class="blog_right_sidebar">
            <aside class="single-sidebar-widget newsletter_widget">
            <h4 class="widget_title">PERWALIAN ONLINE</h4>
            <div class="coloumn">
            @if (Context.Session.GetString("user") != null && Context.Session.GetString("user") != "")
            {

                <h3>Selamat Datang @Context.Session.GetString("user")</h3>
                <p>Aplikasi ini dibuat bertujuan untuk :</p>
                <p>* Mengatur Matakuliah yang akan diambil pada semester yang akan dijalani</p>
                <p>* Melakukan pembuatan laporan seperti :</p>
                <p>  - Formulir Rencana Studi (FRS)</p>
            }

            </div>
            <div class="br"></div>
            </aside>
            </div> -->
            <img height="100%" width="80%" src="~/Images/elearning.png" alt="" />
        </div>
        <div class="col-lg-6" style="align-items: center;">
            <p style="font-family: 'Times New Roman', Times, serif;font-size: 65px;line-height: 1.1;color:#159947">
                Perwalian Lebih Praktis.</p>
            <p style="font-size: medium;font-weight: 400;">Buat KRS baru dan lihat nilai dengan praktis. Buat jadwal
                perwalian baru untuk dosen, lakukan absensi serta pemberian catatan perwalian dengan mudah.</p>
            <div>
                @if (Context.Session.GetString("role") == "dosen")
                {
                    <a href="@Url.Action("Create", "Jadwal")" style="background-color: #49b265;border-color: #49b265;"
                    class="btn btn-primary">Buat Jadwal Perwalian</a>
                }
                else if (Context.Session.GetString("role") == "mahasiswa")
                {
                    <a href="@Url.Action("Index","Jadwal")" style="background-color: #49b265;border-color: #49b265;"
                    class="btn btn-primary">Lihat Jadwal Perwalian</a>
                }
                else if (Context.Session.GetString("role") == "superadmin")
                {
                }
                else
                {
                    <a href="@Url.Action("Login","Account")" style="background-color: #49b265;border-color: #49b265;"
                    class="btn btn-primary">Login Sekarang</a>
                }
            </div>
        </div>
    </div>
</section>
