@model IList<SistemPerwalian2020.Models.CatatanReport>
    @using Microsoft.AspNetCore.Http

@{
    Layout = "_Layout";

}
<div class="container body-content" style="padding-bottom: 100px;">
    <br>
    <h2 style="text-align: center;"> Catatan Perwalian <span style="color: #49b265;">@ViewBag.nama </span></h2>
    <br><br>
    <section class="blog_area">
        <div class="container" style="margin-bottom: 50px;">
            <div class="row">

                <table class="table table-hover">
                    <tr>
                        <th>Waktu</th>
                        <th>Periode</th>
                        <th>Catatan</th>
                    </tr>
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td>
                                @data.Waktu.ToString("dd MMMM yyyy")
                            </td>
                            <td>
                                @data.Periode
                            </td>
                            <td>
                                <i>" @data.Catatan "</i>
                            </td>
                        </tr>
                    }
                </table>
            </div>

        </div>
    </section>
</div>
