@model SistemPerwalian2020.Models.Jadwal
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <br>
    <h2> Tambah Jadwal</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreatePost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Periode" class="control-label">Periode</label>
                    <input asp-for="Periode" class="form-control" />
                    <span asp-validation-for="Periode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prodi" class="control-label">Prodi</label>
                    <input asp-for="Prodi" class="form-control" />
                    <span asp-validation-for="Prodi" class="text-danger"></span>

                </div>
                 <div class="form-group">
                    <label asp-for="Angkatan" class="control-label">Angkatan</label>
                    <br>
                    <select class="form-control" asp-for="Angkatan" asp-items="@(new SelectList(ViewBag.angkatan,"Value","Text"))">
                        <option value=""></option>
                    </select>
                </div>
                <br>
                <br>
                @* @if(Context.Session.GetString("role") == "superadmin")
                {
                <div class="form-group">
                    <label asp-for="Grup" class="control-label">Grup</label>
                    <br>
                    <select class="form-control" asp-for="Grup" asp-items="@(new SelectList(ViewBag.grup,"Value","Text"))">
                        <option value=""></option>
                    </select>
                </div>
                <br>
                <br>
                 } *@
                             
                <div class="form-group">
                    <label asp-for="Waktu" class="control-label">Waktu</label>
                    <input asp-for="Waktu" type="datetime-local" class="form-control" />
                    <span asp-validation-for="Waktu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </div>
