@model SistemPerwalian2020.Models.Jadwal

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content" style="padding-bottom: 50px;">
    <br>
    <h2 style="text-align: center;"> Edit Jadwal</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-9">
            <form asp-action="EditPost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Periode" class="control-label">Periode</label>
                    <input asp-for="Periode" class="form-control" />
                    <span asp-validation-for="Periode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Prodi" class="control-label">Prodi</label>
                    <input asp-for="Prodi" class="form-control" />
                    <span asp-validation-for="Prodi" class="text-danger"></span>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                   <label asp-for="Angkatan" class="control-label">Angkatan</label>
                   <br>
                   <select class="form-control" asp-for="Angkatan" asp-items="@(new SelectList(ViewBag.angkatan,"Value","Text"))">
                       <option value=""></option>
                   </select>
               </div>
           </div>
        </div>
       
                             
                <div class="form-group">
                    <label asp-for="Waktu" class="control-label">Waktu</label>
                    <input asp-for="Waktu" type="datetime-local" class="form-control" />
                    <span asp-validation-for="Waktu" class="text-danger"></span>
                </div>
                <div class="form-group center" style="align-self: center;">
                    <input type="submit" value="Simpan" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
